Hello <%= @user.username %> Welcome to your HomePage

<<<<<<< HEAD
<form action="/stocks" method="POST">
	<input type="text" name="ticker"></input>
	<input type="submit">
</form>
=======
<ul class='stocks'></ul>
>>>>>>> b59773e38e9bb427f56a496548c2987aba901610
