<h1>
Welcome to your HomePage
</h1>
<ul class="markets">
	<li><img src="http://chart.finance.yahoo.com/z?s=^GSPC&t=6m&q=l&l=on&z=s&p=m50,m200"/></li>
	<li><img src="http://chart.finance.yahoo.com/z?s=^IXIC&t=6m&q=l&l=on&z=s&p=m50,m200"/></li>
	<li><img src="http://chart.finance.yahoo.com/z?s=^RUT&t=6m&q=l&l=on&z=s&p=m50,m200"/></li>
</ul>


<!-- <form action="/stocks" method="POST">
	<input type="text" name="stock"></input>
	<input type="submit">
</form> -->
<div class="right">
<div class="ticker">
<%= form_tag "/stocks", class: 'stock-input', method: "POST" do %>
	Enter A Ticker Symbol
	<br>
	<input type="text" name="ticker"></input>
	<br>
	<input class="stocksub" type="submit">
<% end %>
</div>
<div class="Favorited">
<h3 class="favorited_stocks">My Favorite Stocks</h3>
<table class="favorite_stocks">	
	<tr><td>Stock Name</td><td>Daily Change In Price</td></tr>
  <% @user.favorites.each do |stock| %>
  <tr>
    <td><%= link_to stock.name, "/stocks/"+(stock.ticker) %></a></td>
    <td class="percent"><%= stock.change_in_percent %></a></td>
  </tr>
  <% end %>
</table>
</div>
</div>
<ul class='stocks'></ul>
