/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 $primary: #2C3244;
 $logo: white;
 *, *:before, *:after { box-sizing: border-box; }

 *{
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
}
body{
  background:white;
}
.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

h1 {
  font-family: 'Lobster Two';
  font-weight: 700;
  font-size: 2.6em;
  margin: 1em auto;
  text-align: center;
  padding-bottom: 0.25em;
  border-bottom: 1px solid black;
}

.ticker{
	
	
	text-align: center;
	padding: 10px;
	border-radius: 1em;
	color:white;
	font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: calc(66.66% - 235px);
	input[type='text']{
		color: black;
		margin-bottom: .5em;
		width: 100%;
		border-radius: .5rem;
	}
	input[type='submit']{
		text-shadow: 0 1px 2px rgba(0,0,0,0.5);
		border-bottom: 2px solid grey;
		border-radius: .5rem;
	}
}
.right{
  background: maroon;
  position: absolute;
  right: 0;
  top: 75px;
  width: 50%;
  height: 100%;
}
.new-sub{
  float:left;
  margin-left:40px;
}

.markets{
	padding-top: 2em;
	display: block;
	margin: 0 auto;
  position: absolute;
  left: calc(25% - 205px);
	width: 205px;
	li{
    display: inline;
  }
}

nav.logged-in {
  width: 100%;
  border-bottom: 1px solid black;
  background: $primary;
  padding: 1em;
  position: fixed;
  top:0;
  height: 75px;


  .logo {
    float: left;
    font-family: 'Lobster Two';
    font-size: 2em;
    line-height: 1em;
    color: $logo;
    transition:color 2s;
    padding-top: .25em;

    &:hover{
     color:red;
   }
 }

 a {
  display: block;
  color: inherit;
  text-decoration: none;
}

input {
  background: inherit;
  color: inherit;
}

ul {
  float: right;
  list-style-type: none;

  li {
    float: left;

    font-weight: 500;
    background: darken($primary, 30%);
    color: white;

    &:hover {
      cursor: pointer;
      background: darken($primary, 20%);
    }

    + li {
      margin-left: 1em;
    }

    input, a {
      padding: 0.5em 1em;
    }
  }
}
}
input[type='submit']{
	border: 1px solid black;
	border-radius: 3px;
	cursor: pointer;

}

.stock-input{
  

}

.stocksub{
  position: absolute;
  right: 33%;
  color: black;
}
.favorited_stocks{
  color: white;
  
}
.gateway {
  form {
    width: 50%;
    margin: -5px auto;
    border: 1px solid black;
    background: $primary;
    padding: 25px;
    position: relative;
    border-radius: 0 0 5px 5px;

    input {
      display: block;
      text-align: center;
      outline: none;
      margin: 0 auto;
      width: 50%;
      padding: 0.5em 1em;
      border-radius: 5px;
    }

    br + input {
      margin-top: 0.5em;
    }
  }
}

.stockinfo{
  position: fixed;
  list-style-type: none;
  color:$primary;
  background: lightgrey;
  height: 100%;
  width:15%;
  margin: 0;
  text-align: center;
  top: 75px;
  padding-top: 6em;
  li{
    padding-bottom: 1.5em;
  }
}
.favorite_stocks{
  /*text-align: center;
  position: absolute;
  left: 41%;*/
  color: white;
  a{
    color: white;
  }
  a:hover{
    color: yellow;
    text-decoration: none;
    transition:color 2s;

  }
  td{
    /*text-align: center;*/
  }
}

.Favorited{
  position: absolute;
  top: 150px;
  left: calc(75% - 329px);
  text-align: center;
}
.favorited{
	background-color: yellow;
}
.favorite{
	width:1em;
	height: 1em;
	border-radius: 100%;
	border: 2px solid black;
	display: inline-block;
	margin-bottom: -5px;
}

.word{
	margin-bottom: -10px;
	font-size: .75em;
	padding-top: .5em;
}

.twitter{
  float:right;
  /*margin-top: 2em;
  margin-right: -10em;*/
  width: 84%;
  margin-left: 16%;
  margin-top: 10%;
  td{
    padding-bottom: 1em;
  }
}

.tweet_cloud{
  float:right;
  width: 84%;
  margin-left: 16%;
  margin-top: 10.5%;
  line-height: 120%;
  li{
    display: inline;
  }
}

.stockname{
 position: fixed;
 left: 15%;
 width: 100%;
 background: rgba(255,255,255,.9);
 top:55px;
 z-index: 1;
}

@import "bootstrap";
